# File System OS - fichier interne charge au demarrage
# (c) File System OS Company - Vincent Senut
# Decalage en heures par rapport a l'horloge materielle
# (ex : 2 en France l'ete si la machine virtuelle est en UTC)
decalage_heures=0
