# File System OS - fichier interne charge au demarrage
# (c) File System OS Company - Vincent Senut
# Interface graphique et cogestion des threads
attente_auto=oui
fenetres_actives_max=4
rendus_par_tour=2
# Fond d'ecran : chemin d'une image .bmp (vide = degrade)
fond_ecran=0:\FSOS\Images\fond.bmp
